body{
    background-color:rgb(51, 230, 35);   
   }
   h2{
     color: blueviolet;
     background-color: gold;  
   }
   p{
      padding-top: 10px;
      font-size: 25px; 
   }
   #show_sketch{
     float: right;  
   }
   canvas{
    border-radius: 15px;
    margin-top: 20px;
    border: 5px solid yellow;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;   
   }
   @keyframes example {
    from{box-shadow:1px 1px 38px red;}
    to{box-shadow:1px 1px 38px blue;}   
   }
#score{
 margin-right: 1000px;   
}
#time{
  margin-left: 1000px; 
  margin-bottom: 900px; 
}